# URL de conexão com o banco de dados postgres
DATABASE_URL="postgresql://docker:docker@localhost:5432/process-file?schema=public"

# URL de conexão com o serviço de mensageria rabbitmq
RABBITMQ_URI='amqp://admin:admin@localhost:5672'

# URL de conexão com o banco de dados redis
REDIS_URL='redis://localhost:6379'

# variável para gerar ou não o diagrama do banco de dados automáticamente
DISABLE_ERD=false
